html { height: 100% }

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

#map { height: 100% }

#buttonFindMe{
    position: absolute;
    width: 50px;
    height: 50px;
    
    right: 70px;
    bottom: 20px;
    z-index: 400;

    border: none;
    padding: 0%;
    visibility: hidden;

    border-radius: 5%;

    background-image:url("images/findMe.png");
    background-size:cover;
}
#buttonFindMe:hover{
    border-radius: 5%;
    cursor: pointer;
    background-image:url("images/findMe_hover.png");
}

#buttonFindMe:active{
    border-radius: 5%;
    cursor: pointer;
    background-image:url("images/findMe_click.png");
}

#buttonPlus{
    position: absolute;
    width: 50px;
    height: 50px;
    
    right: 10px;
    bottom: 80px;
    z-index: 400;

    border: none;
    padding: 0%;

    border-radius: 5%;

    background-image:url("images/up.png");
    background-size:cover;
}

#buttonPlus:hover{
    border-radius: 5%;
    cursor: pointer;
    background-image:url("images/up_hover.png");
}

#buttonPlus:active{
    border-radius: 5%;
    cursor: pointer;
    background-image:url("images/up_click.png");
}

#buttonMinus{
    position: absolute;
    width: 50px;
    height: 50px;
    
    right: 10px;
    bottom: 20px;
    z-index: 400;

    border: none;
    padding: 0%;

    border-radius: 5%;

    background-image:url("images/down.png");
    background-size:cover;
}

#buttonMinus:hover{
    border-radius: 5%;
    cursor: pointer;
    background-image:url("images/down_hover.png");
}

#buttonMinus:active{
    border-radius: 5%;
    cursor: pointer;
    background-image:url("images/down_click.png");
}