html { height: 100% }

body { 
    height: 100%; 
    margin: 0; 
    padding: 0;
}

#map { 
    width: 100%;
    height: 100%;
    border-radius: 5mm;
}



#buttonPlus{
    position: absolute;
    width: 50px;
    height: 50px;
    
    right: 10px;
    bottom: 80px;
    z-index: 400;

    border: none;
    padding: 0%;

    border-radius: 5%;

    background-image:url("images/up.png");
    background-size:cover;
}

#buttonPlus:hover{
    border-radius: 5%;
    cursor: pointer;
    background-image:url("images/up_hover.png");
}

#buttonPlus:active{
    border-radius: 5%;
    cursor: pointer;
    background-image:url("images/up_click.png");
}

#buttonMinus{
    position: absolute;
    width: 50px;
    height: 50px;
    
    right: 10px;
    bottom: 20px;
    z-index: 400;

    border: none;
    padding: 0%;

    border-radius: 5%;

    background-image:url("images/down.png");
    background-size:cover;
}

#buttonMinus:hover{
    border-radius: 5%;
    cursor: pointer;
    background-image:url("images/down_hover.png");
}

#buttonMinus:active{
    border-radius: 5%;
    cursor: pointer;
    background-image:url("images/down_click.png");
}

#afficherCoord{
    position: absolute;
    z-index: 400;
    border: none;
    padding: 0%;
    border-radius: 2mm;
    z-index: 400;
    background-color: rgb(233, 233, 233);

    left: 10%;
    top: 10%;
}

.adjust_buttons{
    position: absolute;
    z-index: 400;

    border: none;
    padding: 0%;

    border-radius: 3mm;

    z-index: 400;
}

#buttonFindMe{
    width: 50px;
    height: 50px;
    
    left: 70px;
    bottom: 80px;

    visibility: hidden;
}

#adjust_up{
    width: 50px;
    height: 50px;
    
    left: 70px;
    bottom: 140px;
}
#adjust_down{
    width: 50px;
    height: 50px;
    
    left: 70px;
    bottom: 20px;
}
#adjust_left{
    width: 50px;
    height: 50px;
    
    left: 10px;
    bottom: 80px;
}
#adjust_right{
    width: 50px;
    height: 50px;
    
    left: 130px;
    bottom: 80px;
}

#buttonSavePos{
    width: 100px;
    height: 50px;
    
    right: 130px;
    bottom: 20px;
}

